@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100vh;
    background: #000;
}

nav {
    width: 100%;
    height: 70px;
    background: #21252d;
    position: sticky;
    z-index: 100;
}

.navbar-container {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: auto;
}

nav .navbar-container .sidebarOpen {
    color: #b71416;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.brand {
    width: 100px;
    height: 40px;
}

nav .navbar-container .brand a {
    text-decoration: none;
}

.search {
    position: relative;
    margin: auto;
    width: 40%;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #4c5262;
    background: #151a1f;
    color: grey;
}

.search-icon {
    font-size: 15px;
    padding: 3px 0 0 10px;
}

.search input {
    background: none;
    border: none;
    outline: none;
    padding: 0px 10px;
    width: 90%;
    color: #fff;
    font-size: 13px;
}

.menu .logo-toggle, hr, .social-icons {
    display: none;
}

.navbar-container .home-menu {
    display: flex;
    margin: auto;
}

.navbar-container .home-menu li {
    list-style-type: none;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.3s linear;
}

.navbar-container .home-menu li:hover {
    color: #71788c;
}

.navbar-container .sidebar-menu {
    display: none;
}

.songs-container {
    width: 100%;
    color: #fff;
}

.popular-songs {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 50px;
}

.pop-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons-more {
    display: flex;
    align-items: center;
}

.icons-more .right-arrow {
    margin-left: 10px;
}

.icons-more .left-arrow, .right-arrow, h5 {
    cursor: pointer;
}

.icons-more .left-arrow:hover {
    color: #b71416;
}

.icons-more .right-arrow:hover {
    color: #b71416;
}

.icons-more h5 {
    font-weight: normal;
    margin-left: 20px;
    color: #b71416;
}

.pop-heading h5:hover {
    color: #fff;
}

.pop_songs {
    width: 100%;
    height: 210px;
    margin-top: 15px;
    display: flex;
    position: relative;
    overflow: auto;
    scroll-behavior: smooth;
}

.pop_songs::-webkit-scrollbar {
    display: none;
}

.pop_songs li {
    min-width: 165px;
    height: 210px;
    list-style-type: none;
    margin-right: 20px;
    transition: 0.3s linear;
}

.pop_songs li:hover {
    background: rgb(105, 105, 170, 0.1);
}

.pop_songs .img-play {
    position: relative;
    width: 165px;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop_songs .img-play img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.pop_songs .play_button {
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s linear;
    opacity: 0;
    color: #fff;
}

.pop_songs li:hover .play_button {
    opacity: 1;
}

.pop_songs li h5 {
    width: 150px;
    padding-top: 10px;
    line-height: 15px;
    font-size: 13px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pop_songs li h6 {
    font-size: 10px;
    padding-top: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #73878a;
}

/* Popular Artists */
.popular-artists {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 50px;
}

.artists_cover {
    width: 100%;
    height: 245px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
}

.artists_cover::-webkit-scrollbar {
    display: none;
}

.artists_cover li {
    list-style-type: none;
    position: relative;
    min-width: 200px;
    height: 235px;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.3s linear;
}

.artists_cover li .artist-img {
    width: 200px;
    height: 200px;
}

.artist-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.artists_cover li h5 {
    font-weight: normal;
    font-size: 12px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto 0 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Bottom */
.master_play {
    background: #21252d;
    width: 85%;
    height: 10%;
    display: none;
    align-items: center;
    padding: 0 20px;
    bottom: 0;
    margin: 0px 110px;
    position: fixed;
    z-index: 2;
}

.wave {
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

.wave1 {
    width: 3px;
    height: 8px;
    background: #36e2ec;
    margin-right: 3px;
    border-radius: 10px 10px 0 0;
}

.wave1:nth-child(2) {
    height: 11px;
    margin-right: 3.5px;
    animation-delay: 0.4s;
}

.wave1:nth-child(3) {
    height: 6px;
    animation-delay: 0.8s;
}

/* JavaScript Classes */
.master_play .active1 .wave1 {
    animation: wave 0.5s linear infinite;
}

.master_play .active1 .wave1:nth-child(2) {
    animation-delay: 0.4s;
}

.master_play .active1 .wave1:nth-child(3) {
    animation-delay: 0.8s;
}

@keyframes wave {
    0% {
        height: 8px;
    }
    50% {
        height: 13px;
    }
    100% {
        height: 8px;
    }
}

.master_play img {
    width: 45px;
    height: 45px;
    border-radius: 5px;
}

.master_play .title-name {
    width: 130px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.master_play h5 {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.master_play h6 {
    font-size: 11px;
    color: #4c5262;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bottom-icons {
    font-size: 20px;
    color: #fff;
    margin-left: 50px;
}

.bottom-icons .b-icons {
    cursor: pointer;
    margin: 0 7px;
    outline: none;
}

#download-music {
    color: #fff;
}

.master_play span {
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
}

#current_timeStamp {
    margin-left: 50px;
}

                        /* Creation of Music SeekBar  */
.master_play .bar {
    position: relative; 
    width: 40%;
    height: 2px;
    background: rgb(105, 105, 170, 0.1);
    margin: 0 15px 0 10px;
}

.master_play .bar2 {
    position: absolute;
    background: #36e2ec;
    width: 0;
    height: 100%;
    top: 0;
    transition: 1s linear;
}

.master_play .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: 1s linear;
}

.master_play .dot::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -4px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}

.bar input {
    position: absolute;
    width: 100%;
    top: -5px;
    left: 0;
    cursor: pointer;
    z-index: 999999999999999999999999999;
    opacity: .0;
}

                        /* Creation of Volume Bar  */
.volume {
    position: relative;
    width: 80px;
    height: 2px;
    background: rgb(105, 105, 170, 0.1);
    margin-left: 50px;
}

.vol-button {
    position: absolute;
    color: #fff;
    font-size: 18px;
    top: -7px;
    left: -35px;
}

.volume input {
    position: absolute;
    width: 100%;
    top: -5px;
    left: 0;
    cursor: pointer;
    z-index: 9999999999999999999999;
    opacity: 0;
}

.volume_bar {
    position: absolute;
    background: #36e2ec;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}