@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100vh;
    background: #000;
}

nav {
    width: 100%;
    height: 70px;
    background: #21252d;
    position: sticky;
    z-index: 100;
}

.navbar-container {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: auto;
}

nav .navbar-container .sidebarOpen {
    color: #b71416;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.brand {
    width: 100px;
    height: 40px;
}

nav .navbar-container .brand a {
    text-decoration: none;
}

.search {
    position: relative;
    margin: auto;
    width: 40%;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #4c5262;
    background: #151a1f;
    color: grey;
}

.search-icon {
    font-size: 15px;
    padding: 3px 0 0 10px;
}

.search input {
    background: none;
    border: none;
    outline: none;
    padding: 0px 10px;
    width: 90%;
    color: #fff;
    font-size: 13px;
}

.menu .logo-toggle, hr, .social-icons {
    display: none;
}

.navbar-container .home-menu {
    display: flex;
    margin: auto;
}

.navbar-container .home-menu li {
    list-style-type: none;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.3s linear;
}

.navbar-container .home-menu li:hover {
    color: #71788c;
}

.navbar-container .sidebar-menu {
    display: none;
}

/* Main Container  */
.main-container {
    height: 100%;
    width: 100%;
    margin-top: 40px;
}

.detailed-container {
    display: flex;
    width: 86%;
    height: auto;
    margin: 0px auto;
}

.artist-info {
    display: block;
    width: 20%;
}

.artist-songs {
    display: block;
    width: 80%;
    height: auto;
    margin-left: 40px;
}

/* Left Side  */
.artist-img {
    height: 250px;
    width: 100%;
}

.artist-img img {
    border-radius: 50%;
}

.about-artist {
    width: 100%;
    display: block;
    margin-top: 30px;
    color: #fff;
}

.about-artist h2 {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 600;
}

.about {
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
}

.about .content {
    color: #9a9b9c;
    line-height: 20px;
    font-weight: 600;
}

.about .more {
    color: #464d53;
}

/* Right Side  */
.artist-songs h1 {
    color: #fff;
    font-weight: 600;
}

.artist-songs .btn-icons {
    display: flex;
    justify-content: space-between;
    margin: 24px 0px;
}

.btn-icons .icons {
    color: #fff;
    font-size: 20px;
}

.artist-songs h2 {
    color: #fff;
    font-weight: normal;
}

.artist-songs .songs-index {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.index-track {
    width: 40%;
    display: flex;
    align-items: center;
}

.index {
    margin: 0px 15px;
}

.artist-col {
    width: 20%;    
}
.album-col{
    width: 18%;
}
.duration-col {
    width: 12%;
}
.download-col {
    width: 10%;
}

.songs-index .index-track, .artist-col, 
.songs-index .album-col, .songs-index .duration-col {
    font-size: 13px;
    color: #5c5e61;
    font-weight: 600;
}

.artist-songs .songs-container {
    display: block;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin-top: 25px;
}

.songs-container .songItems {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 70px;
}

.songs-container .songItems:hover {
    border: 1px solid #5c5e61;
    border-radius: 10px;
    transition: 0.3 linear;
}

.songItems .index-track {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
}

.songItems .artist-col, .album-col, .duration-col {
    color: #7f8d97;
    font-size: 13px;
    font-weight: normal;
}

.index-track .track {
    display: flex;
    align-items: center;
}

.index-track .track img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
}

.download-col {
    color: #fff;
    font-size: 20px;
}

.download-col .play_button {
    margin-right: 15px;
    cursor: pointer;
}

/* Bottom */
.master_play {
    background: #21252d;
    width: 85%;
    height: 10%;
    display: none;
    align-items: center;
    padding: 0 20px;
    bottom: 0;
    margin: 0px 110px;
    position: fixed;
    z-index: 2;
}

.wave {
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

.wave1 {
    width: 3px;
    height: 8px;
    background: #36e2ec;
    margin-right: 3px;
    border-radius: 10px 10px 0 0;
}

.wave1:nth-child(2) {
    height: 11px;
    margin-right: 3.5px;
    animation-delay: 0.4s;
}

.wave1:nth-child(3) {
    height: 6px;
    animation-delay: 0.8s;
}

/* JavaScript Classes */
.master_play .active1 .wave1 {
    animation: wave 0.5s linear infinite;
}

.master_play .active1 .wave1:nth-child(2) {
    animation-delay: 0.4s;
}

.master_play .active1 .wave1:nth-child(3) {
    animation-delay: 0.8s;
}

@keyframes wave {
    0% {
        height: 8px;
    }
    50% {
        height: 13px;
    }
    100% {
        height: 8px;
    }
}

.master_play img {
    width: 45px;
    height: 45px;
    border-radius: 5px;
}

.master_play .title-name {
    width: 130px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.master_play h5 {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.master_play h6 {
    font-size: 11px;
    color: #4c5262;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bottom-icons {
    font-size: 20px;
    color: #fff;
    margin-left: 50px;
}

.bottom-icons .b-icons {
    cursor: pointer;
    margin: 0 7px;
    outline: none;
}

#download-music {
    color: #fff;
}

.master_play span {
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
}

#current_timeStamp {
    margin-left: 50px;
}

                        /* Creation of Music SeekBar  */
.master_play .bar {
    position: relative; 
    width: 40%;
    height: 2px;
    background: rgb(105, 105, 170, 0.1);
    margin: 0 15px 0 10px;
}

.master_play .bar2 {
    position: absolute;
    background: #36e2ec;
    width: 0;
    height: 100%;
    top: 0;
    transition: 1s linear;
}

.master_play .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: 1s linear;
}

.master_play .dot::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -4px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}

.bar input {
    position: absolute;
    width: 100%;
    top: -5px;
    left: 0;
    cursor: pointer;
    z-index: 999999999999999999999999999;
    opacity: .0;
}

                        /* Creation of Volume Bar  */
.volume {
    position: relative;
    width: 80px;
    height: 2px;
    background: rgb(105, 105, 170, 0.1);
    margin-left: 50px;
}

.vol-button {
    position: absolute;
    color: #fff;
    font-size: 18px;
    top: -7px;
    left: -35px;
}

.volume input {
    position: absolute;
    width: 100%;
    top: -5px;
    left: 0;
    cursor: pointer;
    z-index: 9999999999999999999999;
    opacity: 0;
}

.volume_bar {
    position: absolute;
    background: #36e2ec;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}